/************************************** HEADER **************************************/
@import 'C:/WORKSPACE/starfish/Project/1_Website/Design/Main_Layout/css/global';

header{
  height: 160px;
  padding-top: 35px;
  width:1024px;
  margin:0 auto;
  > a{
    margin-top:45px;
    display:inline-block;
  }
  section{
    width:670px;
    ul#primary_nav,ul#secondary_nav{
      float:right;
      list-style: none;
      padding:0;
      li{
        float: left;
        &.active{
          a{
            color: #8CC63F;
          }
        }
        a{
          font-family: 'AvenirLTStd-Roman';
          text-decoration:none;
          padding: 10px 15px;
          text-align: center;
          color: #4D4D4D;
          display: block;
          font-size: 1.5em;
          line-height: 0;
        }
      }
    }
    ul#primary_nav{
      margin:20px 0 0;
    }
    ul#secondary_nav{
      margin:24px 0 0;
      li{
        border-right: 1px solid #ccc;
        line-height:5px;
        &.last{
          border: none !important;
        }
        a{
          padding: 1px 15px;
          font-size: 1.3em;
        }
      }
    }
  }
}
